@font-face { /* for IE */
   font-family: 'UnitRounded';
   src: url('/fonts/UnitRoundedBold.eot');
}
@font-face { /* for Non-IE */
   font-family: 'UnitRounded';
   src: url(//:) format('no404'), url('/fonts/UnitRoundedBold.woff') format('woff'), url('/fonts/UnitRoundedBold.ttf') format('truetype'), url('/fonts/UnitRoundedBold.svg#') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'OpenSans';
   src: url('/fonts/OpenSans-Regular.eot');
}
@font-face {
   font-family: 'OpenSans';
   src: url(//:) format('no404'), url('/fonts/OpenSans-Regular.woff') format('woff'), url('/fonts/OpenSans-Regular.ttf') format('truetype'), url('/fonts/OpenSans-Regular.svg#') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'OpenSansLight';
   src: url('/fonts/OpenSans-Light.eot');
}
@font-face {
   font-family: 'OpenSansLight';
   src: url(//:) format('no404'), url('/fonts/OpenSans-Light.woff') format('woff'), url('/fonts/OpenSans-Light.ttf') format('truetype'), url('/fonts/OpenSans-Light.svg#') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'AlpinGothic';
   src: url('/fonts/CgAlpinGothicNo3.eot');
}
@font-face {
   font-family: 'AlpinGothic';
   src: url(//:) format('no404'), url('/fonts/CgAlpinGothicNo3.woff') format('woff'), url('/fonts/CgAlpinGothicNo3.ttf') format('truetype'), url('/fonts/CgAlpinGothicNo3.svg#') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'SignPainterBrush';
   src: url('/fonts/SignPainterHouseBrush.eot');
}
@font-face {
   font-family: 'SignPainterBrush';
   src: url(//:) format('no404'), url('/fonts/SignPainterHouseBrush.woff') format('woff'), url('/fonts/SignPainterHouseBrush.ttf') format('truetype'), url('/fonts/SignPainterHouseBrush.svg#') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'SignPainterScript';
   src: url('/fonts/SignPainterHouseScript.eot');
}
@font-face {
   font-family: 'SignPainterScript';
   src: url(//:) format('no404'), url('/fonts/SignPainterHouseScript.woff') format('woff'), url('/fonts/SignPainterHouseScript.ttf') format('truetype'), url('/fonts/SignPainterHouseScript.svg#') format('svg');
   font-weight: normal;
   font-style: normal;
}

$_unit:              "UnitRounded",Helvetica,Arial,sans-serif;
.unit { font-family: $_unit; }
$_alpin:             "AlpinGothic",'Arial Narrow',Arial,sans-serif;
.alpin { font-family: $_alpin; }
$_opensanslight:     "OpenSansLight",Helvetica,Arial,sans-serif;
.opensanslight { font-family: $_opensanslight; }
$_opensans:          "OpenSans",Helvetica,Arial,sans-serif;
.opensans { font-family: $_opensans; }
$_signpainterbrush:  "SignPainterBrush",Helvetica,Arial,sans-serif;
.signpainterbrush { font-family: $_signpainterbrush; }
$_signpainterscript: "SignPainterScript",Helvetica,Arial,sans-serif;
.signpainterscript { font-family: $_signpainterscript; }

$text-direction: ltr;



//---------------------------------------------------------------------
// Typography Variables
//---------------------------------------------------------------------
$heading_family:   $_alpin;
$heading_color:    #{$grid_f1};
$h2_size:          44px;
$h3_size:          26px;
$h4_size:          22px;
$h5_size:          15px;

$body_font_family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$text_size:        15px;
$line_height:      20px;

$body_copy: normal #{$text_size}/#{$line_height} #{$body_font_family};

//---------------------------------------------------------------------
@mixin body_copy() {
   font-family:$body_font_family;
   font-size:$text_size;
   font-weight:normal;
   line-height:$line_height;
}

//---------------------------------------------------------------------
@mixin alpin($size:24px,$case:uppercase) {
   font-family:$_alpin;
   font-size:$size;
   font-weight:normal;
   text-transform:$case;
}
