form {
  margin-bottom: 1em;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0px;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

select {
  width: 99%;
  max-width: 100%;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  color: #666;
  font-size: 100%;
  margin: 3px 0px;
  vertical-align: middle;
  *vertical-align: middle;
  *overflow: visible;
  outline: none;
  cursor: text;
  border: 1px solid #BFBFBF;
  width: 100%;
  max-width: 100%;
  padding: 8px 4px;
  -webkit-transition-property: border, box-shadow;
  -moz-transition-property: border, box-shadow;
  -o-transition-property: border, box-shadow;
  transition-property: border, box-shadow;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-ease-out;
  -moz-transition-timing-function: ease-in-ease-out;
  -o-transition-timing-function: ease-in-ease-out;
  transition-timing-function: ease-in-ease-out;
  &.small {
    padding: 2px 6px;
    font-size: 80%;
  }
  &.large {
    padding: 12px 7px;
    font-size: 110%;
  }
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border: 1px solid #787878;
  color: #444;
  outline: 0;
  @include box-shadow(0, 0, 3px, #787878 inset);
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=file] {
  border: none;
  &.small, &.large {
    border: none;
  }
}

textarea {
  overflow: auto;
  vertical-align: top;
}

.input-number input {
  color: #454545;
  border: 1px solid #dcdfe7;
  // border-top-color: #aaadb2;
  // @include border-radius(4px);
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

a.button, .button {
  display: inline-block;
  $button-color:#fff;
  padding: 7px 14px;
  margin: 3px 0px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: $txtColor;
  font-size: 0.8375rem;
  background-color: $button-color;
  border: 1px solid rgba(0, 0, 0, 0.3);
  @include border-radius(4px);
  text-decoration: none;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
  &:link {
    color: $txtColor;
    text-decoration: none;
  }
  &:visited {
    color: $txtColor;
    text-decoration: none;
  }
  &:hover {
    color: $txtColor;
    text-decoration: none;
  }
  &:active {
    @include box-shadow(0px, 0px, 10px, rgba(0, 0, 0, 0.8), 1, inset);
  }
  &.small {
    line-height: 1.4;
    font-size: 0.6em;
    padding: 2px 14px;
  }
}

a.button {
  &:link {
    text-decoration: none;
  }
  &:visited{
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}
.button.large {
  padding: 13px 30px;
  font-size: 16px;
  font-size: 1rem;
}
a.grey-button, .grey-button {
  $button-color:#656565;
  color: #fefefe;
  background-color: lighten($button-color,20);
  border: 1px solid darken($button-color, 19.4);
  @include text-shadow(1px, 1px, 0, rgba(0, 0, 0, 0.3));
  @include linear-gradient(lighten($button-color,10), $button-color);
  &:link {
    color:#fefefe;
  }
  &:visited {
    color:#fefefe;
  }
  &:hover {
    color: #fefefe;
    @include linear-gradient(lighten($button-color,13), lighten($button-color,3));
  }
  &:active {
    color:#fefefe;
  }
}

a.lite-grey-button, .lite-grey-button {
  $button-color:#F3F3F3;
  color: #555555;
  background-color: lighten($button-color,20);
  border: 1px solid darken($button-color, 35);
  // @include text-shadow(1px, 1px, 0, rgba(0, 0, 0, 0.3));
  @include linear-gradient(lighten($button-color,10), $button-color);
  &:link {
    color:#555555;
  }
  &:visited {
    color:#555555;
  }
  &:hover {
    color: #555555;
    @include linear-gradient(lighten($button-color,13), lighten($button-color,3));
  }
  &:active {
    color:#555555;
  }
}

a.blue-button, .blue-button {
  //$button-color:#3461A9;
  $button-color:#2488A0;
  color: lighten($button-color, 55);
  background-color: lighten($button-color,20);
  border: 1px solid darken($button-color, 10);
  @include text-shadow(1px, 1px, 0, rgba(0, 0, 0, 0.3));
  @include linear-gradient(lighten($button-color,10), $button-color);
  &:link {
    color:lighten($button-color, 55);
  }
  &:visited {
    color:lighten($button-color, 55);
  }
  &:hover {
    color: lighten($button-color, 55);
    @include linear-gradient(lighten($button-color,13), lighten($button-color,3));
  }
  &:active {
    color:lighten($button-color, 55);
  }
}

a.black-button,.black-button {
  $button-color:#343434;
  color: #fefefe;
  background-color: lighten($button-color,20);
  border: 1px solid darken($button-color, 10);
  @include text-shadow(1px, 1px, 0, rgba(0, 0, 0, 0.3));
  @include linear-gradient(lighten($button-color,10), $button-color);
  &:link {
    color: #fefefe;
  }
  &:visited {
    color: #fefefe;
  }
  &:hover {
    color: #fefefe;
    @include linear-gradient(lighten($button-color,13), lighten($button-color,3));
  }
  &:active {
    color: #fefefe;
  }
}

a.green-button, .green-button {
  $button-color:#267300;
  color: lighten($button-color, 90);
  background-color: lighten($button-color,20);
  border: 1px solid darken($button-color, 10);
  @include text-shadow(1px, 1px, 0, rgba(0, 0, 0, 0.3));
  @include linear-gradient(#44b71e, #267300);
  &:link {
    color: lighten($button-color, 90);
  }
  &:visited {
    color: lighten($button-color, 90);
  }
  &:hover {
    color: lighten($button-color, 90);
    @include linear-gradient(lighten(#44b71e, 5), lighten(#267300, 5));
  }
  &:active {
    color: lighten($button-color, 90);
  }
}

a.orange-button, .orange-button {
  $button-color:#FB6600;
  color: lighten($button-color, 90);
  background-color: lighten($button-color,20);
  border: 1px solid darken($button-color, 10);
  @include text-shadow(1px, 1px, 0, rgba(0, 0, 0, 0.3));
  @include linear-gradient(#FF9700 ,#FB6600);
  &:link {
    color: lighten($button-color, 90);
  }
  &:visited {
    color: lighten($button-color, 90);
  }
  &:hover {
    color: lighten($button-color, 90);
    @include linear-gradient(lighten(#FF9700, 5) ,lighten(#FB6600, 5));
  }
  &:active {
    color: lighten($button-color, 90);
  }
}

a.red-button, .red-button {
  $button-color: #A11117;
  color: lighten($button-color, 55);
  background-color: lighten($button-color,20);
  border: 1px solid darken($button-color, 10);
  @include text-shadow(1px, 1px, 0, rgba(0, 0, 0, 0.3));
  @include linear-gradient(lighten($button-color,10), $button-color);
  &:link {
    color: lighten($button-color, 55);
  }
  &:visited {
    color: lighten($button-color, 55);
  }
  &:hover {
    color: lighten($button-color, 55);
    @include linear-gradient(lighten($button-color,13), lighten($button-color,3));
  }
  &:active {
    color: lighten($button-color, 55);
  }
}

// @DoNotUse
// input[type=text], input[type=password], input[type=email], input[type=number], input[type=date], input[type=url], textarea, input[type=file], input[type=tel] {
//   &.small { 
//     color: #666;
//     border: 1px solid #dcdfe7;
//     border-top-color: #aaadb2;
//     @include border-radius(4px);
//     width: 100%;
//     max-width: 100%;
//     padding: 4px 1px;
//   }
// }

// @DoNotUse
// input[type=text], input[type=password], input[type=email], input[type=number], input[type=date], input[type=url], textarea, input[type=file], input[type=tel] {
//   &.large { 
//     color: #666;
//     border: 1px solid #dcdfe7;
//     border-top-color: #aaadb2;
//     @include border-radius(4px);
//     width: 100%;
//     max-width: 100%;
//     padding: 9px 6px;
//   }
// }

.disabled {
  box-shadow: none !important;
  background-image: none !important;
  opacity: 0.7;
  &:hover {
    cursor: default !important;
    box-shadow: none !important;
    background: none !important;
  }
}

.no-button {
  background: transparent;
  border: none;
  color:inherit;
  outline: none;
  -webkit-text-shadow:none;
  -moz-text-shadow:none;
  -o-text-shadow:none;
  text-shadow:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.button-group {
  position: relative;
  display: inline-block;
  font-size: 0;
  .button {
    position: relative;
    display: inline-block;
    margin: 0px;
    @include border-radius(0px);
    &:first-child {
      @include border-radius(4px 0px 0px 4px);
    }
    &:not(:last-child) {
      border-right: none;
    }
    &:last-child {
      @include border-radius(0px 4px 4px 0px);
    }
  }
}

input:focus + .hint, select:focus + .hint, textarea:focus + .hint {
  display: inline-block;
}

input[type="date"] {
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    display: none;
  }
}

.placeholder {
  color: #BEBEBE;
}

.full-button {
  display: block;
  width: 98.33333% !important;
  margin-left: 0.83333% !important;
  margin-right: 0.83333% !important;
}
@include tablet {
  .tablet-full-button {
    display: block;
    width: 97.91667% !important;
    margin-left: 1.04167% !important;
    margin-right: 1.04167% !important;
  }
}
@include mobile {
  [class*='span'] {
    input.mobile-full-button,
    button.mobile-full-button,
    a.mobile-full-button {
      display: block;
      width: 100%;
    }
  }
  // input.mobile-full-button,
  // button.mobile-full-button,
  // a.mobile-full-button {
  //   display: block;
  //   width: 96.66667% !important;
  //   margin-left: 1.66667% !important;
  //   margin-right: 1.66667% !important;
  // }
}
