nav {
  font-size: 1.05172em;
  display:block;
  ul, ol {
    list-style: none;
    list-style-image: none;
  }
  ul{
    padding: 0px;
    li {
      display: block;
      float: left;
      position: relative;
      padding: 10px 15px;
      margin: 0px;
      background: inherit;
      ul {
        margin-top: 0px;
        display: none;
      }
    }
  }
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
@include tablet {
  .nav-button + ul {
    display:none;
  }
  nav {
    ul {
      padding:0px;
    }
    ul li, ul ul li, ul li a{
      float: none;
      width: 100%;
      display: block;
      margin:0;
    }
    ul .has-flyout {
      & > .flyout {
        width: 100%;
        //float: none;
        position: relative;
        li {
          background:none;
          a {
            padding: 8px 0px;
          }
        }
        ul {
          left:0;
        }
      }
    }
  }
  button.nav-button {
    display: block;
  }
  .tablet-nav-collapse {
    display: none;
  }
}

@include mobile {
  .mobile-collapse {
    ul {
      padding:0px;
      display:none;
    }
    ul li, ul ul li, ul li a{
      //float: none;
      width: 100%;
      display: block;
      margin:0;
    }
    ul .has-flyout > .flyout {
      width: 100%;
      //float: none;
      position: relative;
      li {
        background:none;
        a {
          padding: 8px 0px;
        }
      }
      ul {
        left:0;
      }
    }
    button.nav-button {
      display: block;
    }
  }
  .mobile-nav-collapse {
    display: none;
  }
}
.sub-nav {
  font-size:80%;
}
.nav-button, .nav-button-slider {
  display:none;
  position: relative;
  text-decoration: none;
  color: $txtColor;
  z-index: 1;
  &:hover {
    color: $txtColor;
    text-decoration: none;
  }
  &.bar {
    width: 100%;
  }
}

.touch {
  @include tablet {
    ul.nav-collapse {
      display: none;
    }
  }
}

li.has-flyout {
  // &:hover > .flyout {
  //   display: block;
  // }
  & > .flyout {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    width: auto;
    z-index: 1;
    // @include tablet {
    //  width: 100%;
    //  float: none;
    //  position: relative;
    // }
    li {
      display: block;
      z-index: 1;
      float: none;
      text-align: left;
      white-space: nowrap;
      background: #efefef;
      // @include tablet {
      //  background:none;
      // }
      a {
        display: block;
        // @include tablet {
        //  padding: 8px 0px;
        // }
      }
    }
    ul {
      display: none;
      left: 100%;
      top: 0;
      z-index: 1;
      // @include tablet {
      //  left:0;
      // }
    }
  }
  & > a span.textmenu_link > i {
    position: absolute;
    background: transparent !important;
    border: none;
    width: auto;
    right: 13px;
    z-index: 22;
  }
  &.is-touch {
    &>a:first-child { padding-right: 55px;}
  }
}
@include tablet {
  .flyout-toggle {
    top: 20px !important;
  }
  .fifty-fifty {
    ul li {
      width: 50%;
      ul.flyout li {
        width: 100%;
      }
    }
  }
}
@include mobile {
  .fifty-fifty ul li {
    width: 100%;
  }
}

.has-flyout.tri-level-cc {
  .flyout {
    & > li {
      display: inline-block;
      float: left;
      & > ul {
        padding: 0px;
        display: inline-block;
        width: 100%;
        & > li {
          float: none;
          width: 100%;
        }
      }
    }
  }
}

.touch .infinity-scroll {
  width: 97%;
  margin: 10px auto;
  @include border-radius(4px);
  border: 1px solid #d7d7d7;
  background: #efefef;
  @include box-shadow(1px, 1px, 2px, #d7d7d7, $inset: inset);
  overflow: auto;
  position: relative;
  min-height: 65px;
  ul {
    position: absolute;
    top: 30%;
    width: auto;
    display: inline;
    white-space: nowrap;
    li {
      float: none;
      display: inline;
      padding-top: 0;
      padding-bottom:0;
      &:last-child {
        padding-right: 35px;
      }
    }
  }
}
@include tablet() {
  .nav-collapse {
    display: none;
    overflow: invisible;
    clear:both;
  }
  .select-nav {
    display:none;
  }
}
.tinynav {
  display: none;
  @include tablet() {
    display: block;
  }
}

.vertical {
  padding: 0;
  & > ul > li {
    display: block;
    float: none;
  }
  li.has-flyout > .flyout {
    left: 100%;
    top:0;
    @include tablet {
      left:0;
    }
  }
}
.footer-nav {
  padding:0;
  ul {
    display: block;
    li {
      float: left;
      padding:0;
    }
  }
  @include mobile {
    & ul li {
      float: none; display: block; width: 100%; display: block;
    }
  }
}

@include mobile {
  .footer-nav {
    ul li {
      float: none;
      width: auto;
      display: block;
    }
  }
  .mobile-fifty-fifty {
    ul li {
      width: 50%;
      ul.flyout li {
        width: 100%;
      }
    }
  }
}

.tabs {
  margin-bottom: 20px;
  & > li {
    float: left;
    line-height: 20px;
    margin-bottom:  7px;
    & > a {
      padding: 8px 12px;
      line-height: 20px;
      &:hover {
        text-decoration: none;
        background-color: #eee;
      }
    }
  }
  &:before, &:after {
    display:table;
    line-height:0;
    content:"";
    clear: both;
  }
  & > .active a, & > .active a:hover {
     background: #eee;
     text-decoration: none;
  }
}
.left-tabs {
  .tabs {
    float: left;
    background: white;
    margin-right: $gutter-width;
    & > li {
      float: none;
    }
  }
  &:before, &:after {
    display:table;
    line-height:0;
    content:"";
    clear: both;
  }
  .tab-content {

  }
}
.right-tabs {
  .tabs {
    float: right;
    background: white;
    margin-left: $gutter-width;
    & > li {
      float: none;
    }
  }
  &:before, &:after {
    display:table;
    line-height:0;
    content:"";
    clear: both;
  }
}
.tab-content {
  overflow: auto;
  & > .pane {
    display: none;
  }
  & > .active {
    display: block;
  }
}


@include tablet {
  .tablet-do-nothing {
    ul {
      height: auto;
      li {
        float: left;
        width: auto;
        a {
          font-size: 80%;
        }
      }
    }
  }
  .tablet-buttons ul {
    height: auto;
    li {
      float:none;
      a {
        width: 100%;
        display: block;
        @include border-radius(4px);
        @include box-shadow(1px, 1px, 4px, rgba(0, 0, 0, 0.6));
        &:hover {
          @include box-shadow(1px, 1px, 1px, rgba(0, 0, 0, 0.6));
        }
        &:active {
          @include box-shadow(1px, 1px, 4px, rgba(0, 0, 0, 0.0));
        }
      }
    }
  }
}
@include mobile {
  .tablet-do-nothing ul li {
    float: none;
    width: 100%;
    a {
      font-size: 100%;
    }
  }
  .mobile-buttons ul {
    height: auto;
    li a {
      width: 100%;
      display: block;
      @include border-radius(4px);
      @include box-shadow(1px, 1px, 4px, rgba(0, 0, 0, 0.6));
      &:hover {
        @include box-shadow(1px, 1px, 1px, rgba(0, 0, 0, 0.6));
      }
      &:active {
        @include box-shadow(1px, 1px, 4px, rgba(0, 0, 0, 0.0));
      }
    }
  }
}

.right-menu-container, .left-menu-container, .top-menu-container, .bottom-menu-container {
  position:fixed;
  display: none;
  margin: 0;
  overflow-y:auto;
}
.right-menu-container {
  width: 80%;
  height: 100%;
  margin-left: 100%;
}
.left-menu-container {
  width: 80%;
  height: 100%;
  margin-left: -100%;
}
.top-menu-container {
  width: 100%;
  margin-top:-100%;
}
.bottom-menu-container {
  width: 100%;
  margin-top: 100%;
  overflow-y: auto;
}

.fromRight, .fromLeft, .fromTop, .fromBottom {
  overflow: hidden;
}
.container {

  .fromRight &, .fromLeft &, .fromTop &, .fromBottom & {
    position: absolute;
  }
  .fromRight & {
    //margin-left: -130%;
    margin-left: -80%;
    width: 100%;
    float: left;
  }
  .fromLeft & {
    margin-left: 80%;
    width: 100%;
    float: left;
  }
  .fromTop & {
    margin-top: 45%;
    width: 100%;
  }
  .fromBottom & {
    //margin-top: -45%;
    //width: 100%;
    //float: left;
  }
}
.fromRight .right-menu-container {
  // margin-top: 0px !important;
  // margin-left: 20%;
  display: block;
}
.fromLeft .left-menu-container {
  // margin-top: 0px !important;
  // // margin-left:0;
  display: block;
}
.fromTop .top-menu-container {
//  margin-top: 0px !important;
  display: block;
  height: 45%;
  margin-left: 0;
  width: 100%;
  overflow-y:auto;
}
.fromBottom .bottom-menu-container {
  bottom:0;
  width:100%;
//  margin-left: 0;
  display: block;
//  height: 45%;
  background: white;
  z-index: 1;
  overflow-y: auto;
  @include box-shadow(-1px, -1px, 5px, #555);
}



// Remain at the end of document
html.no-js {
  .nav-collapse {
    display: block;
  }
  nav ul li.has-flyout:hover {
    & > ul.flyout {
      display: block;
    }
  }
}