.panel {
  @include border-radius(4px);
  @include linear-gradient(#fefefe, #efefef);
  padding: 1.5em !important;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset;
  h3 {
    margin: 0;
  }
  p {
    margin: 1em 0;
  }
}

.dark-orange-panel {
  @include linear-gradient(#f17702, #fd6300);
}

.orange-panel {
  @include linear-gradient(#ff9e00, #ec7402);
  p {
    color: #f3fffd;
    margin: 0;
    @include text-shadow(0px, 1px, 0px, rgba(0,0,0,0.4));
  }
}

.grey-panel {
  @include linear-gradient(#d8d8d8, #bfbfbf);
}

.dark-grey-panel {
  @include linear-gradient(#8a8a8a, #707070);
}

.white-panel {
  background-color: #FFF;
  border: 1px solid #e6e6e6;
  @include border-radius(4px);
}
.blue-radial-panel {
  background: rgb(43,166,222); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(43,166,222,1) 0%, rgba(0,86,206,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(43,166,222,1)), color-stop(100%,rgba(0,86,206,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(43,166,222,1) 0%,rgba(0,86,206,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(43,166,222,1) 0%,rgba(0,86,206,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(43,166,222,1) 0%,rgba(0,86,206,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(43,166,222,1) 0%,rgba(0,86,206,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ba6de', endColorstr='#0056ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.purple-radial-panel {
  background: rgb(91,124,167); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(91,124,167,1) 0%, rgba(54,86,149,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(91,124,167,1)), color-stop(100%,rgba(54,86,149,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(91,124,167,1) 0%,rgba(54,86,149,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(91,124,167,1) 0%,rgba(54,86,149,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(91,124,167,1) 0%,rgba(54,86,149,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(91,124,167,1) 0%,rgba(54,86,149,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b7ca7', endColorstr='#365695',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
